TZ=UTC
PORT=3333
HOST=0.0.0.0
LOG_LEVEL=info
APP_KEY=ERnEjJL6i374caTEvN5JJak667MpLpd4
NODE_ENV=development
SESSION_DRIVER=cookie
JWT_SECRET=
DB_CONNECTION=pg
PG_HOST=postgres
PG_PORT=5432
PG_USER=postgres
PG_PASSWORD=
PG_DB_NAME=lucid
SQL_DEBUG=false